/test/
/dev/
/help/build
/.idea/
/compile.bat
/scripts/
/i18n/
/fracture_analysis_kit/.idea/
/fracture_analysis_kit/.spyproject/
/README.html
/README.txt
/resources.py
/help/
/zip_build/fracture_analysis_2d/
/zip_build/!README.txt
/fracture_analysis_kit/requirements.txt
/docs/test/
/docs/backup/
/.hypothesis/
/.test/
/.mypy_cache/
/fracture_analysis_kit/saved_run_jsons/
